<div class="social-links">
  {{- range $name, $path := .Site.Params.social }}
    {{- if $path }}
      {{- $realName := slicestr $name 2 }}
      <a href="{{ $path | safeURL }}" class="iconfont icon-{{ $realName }}" title="{{ $realName }}"></a>
    {{- end }}
  {{- end }}
  {{ if .Site.LanguagePrefix -}}
    <a href="{{ .Site.LanguagePrefix | absURL }}/index.xml" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>
  {{- else -}}
    <a href="{{ .Site.RSSLink }}" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>
  {{- end }}
</div>

<div class="copyright">
  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current -}}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="author">
      {{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}
    </span>
  </span>
</div>
<script>
  (function(n, e, m, E, a, $) {
    n[E]=n[E]||function(){(n[E].q=n[E].q||[]).push(arguments)};$=e.createElement(m);
    $.id=E;$.src=a;$.async=1;m=e.getElementsByTagName(m)[0];m.parentNode.insertBefore($,m)
  })(window, document, "script", "nemea", "https://defn.nemea.co/track.js");

  nemea("view");
</script>
